@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #0051ba;
  --text-white: #FFFFFF;
  --color-darkblue: #003f8c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 70vh;
}

button, .accent {
  color: var(--color-primary);
}

.bg-dark, .text-on-dark {
  background-color: var(--text-white);
  color: var(--background);
}

.hover-highlight:hover {
  color: var(--color-darkblue);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p, span, a, li, body {
  font-weight: normal;
}